<div class="activity" ng-animate="'activity'">
    <h2>Add New Token</h2>
    <form name="add-token-form" novalidate>
        <label ng-show="isAdmin">User: </label><select name="userSelector" ng-model="selectedUser" ng-options="username for username in usernames" ng-show="isAdmin"></select><br />
        <input class="tokenInput" placeholder="Token String" ng-model="tokenString"></input><br />
        <button ng-click="add.generate()">Generate</button><button ng-click="add.persist()" class="rightalign">Add Token</button>
    </form>
</div>