<!doctype html>
<html ng-app="nexusmanager">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An application which allows for the management of tokens for authentication to Sonatype Nexus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sonatype Nexus Token Manager</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Sonatype Nexus Token Manager">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/login.js"></script>
	<script src="scripts/user-tokens.js"></script>

    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="PageController as page">
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">Sonatype Nexus Token Manager</h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li ng-click="activity=1" ng-show="isAuthenticated"><a>Add</a></li>
        <li ng-click="page.showTokenList()" ng-show="isAuthenticated"><a>View</a></li>
        <li ng-click="activity=3" ng-show="isAuthenticated"><a>Remove</a></li>
        <li ng-click="activity=4" ng-show="isAdmin"><a>Admin Add</a></li>
        <li ng-click="activity=5" ng-show="isAdmin"><a>Admin View</a></li>
        <li ng-click="activity=6" ng-show="isAdmin"><a >Admin Delete</a></li>
        <li ng-click="activity=7"><a>Help</a></li>
        <li ng-click="activity=0" ng-hide="isAuthenticated"><a>Login</a></li>
        <li ng-click="page.logout()" ng-show="isAuthenticated"><a>Logout</a></li>
      </ul>
    </nav>

    <main>
    	<login ng-show="activity===0"></login>
		<div ng-show="activity===1">
			Add Activity
		</div>
		<user-tokens ng-show="activity===2"></user-tokens>
		<div ng-show="activity===3">
			Delete Activity
		</div>
		<div ng-show="activity===4">
			Admin Add Activity
		</div>
		<div ng-show="activity===5">
			Admin View Activity
		</div>
		<div ng-show="activity===6">
			Admin Delete Activity
		</div>
		<div ng-show="activity===7">
			Help Activity
		</div>
    </main>

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
