<!doctype html>
<html ng-app="nexusmanager">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An application which allows for the management of tokens for authentication to Sonatype Nexus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sonatype Nexus Token Manager</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Sonatype Nexus Token Manager">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/login.js"></script>
	<script src="scripts/user-tokens.js"></script>
	<script src="scripts/add-token.js"></script>

    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="PageController as page">
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">Sonatype Nexus Token Manager</h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li ng-click="page.showMain()" ng-show="isAuthenticated"><a>Home</a></li>
        <li ng-click="page.showHelp()"><a>Help</a></li>
        <li ng-click="activity=0" ng-hide="isAuthenticated"><a>Login</a></li>
        <li ng-click="page.logout()" ng-show="isAuthenticated"><a>Logout ({{username}})</a></li>
      </ul>
    </nav>

    <main>
    	<login ng-show="activity===0"></login>
		<div ng-show="activity===2">
			<user-tokens ng-show="isAuthenticated"></user-tokens>
			<add-token ng-show="isAuthenticated"></add-token>
		</div>
		<div ng-show="activity===7" ng-animate="'activity'">
			<h2>Help</h2>
			<p>This is an application for managing token authentication to a Sonatype Nexus artifact repository. If you are able to authenticate to the 
			Nexus server which this token manager is pointed at, you can manage your own tokens. If you have admin privileges on that Nexus server, you
			will also be able to manage other user's tokens from this application as well.</p>

			<p ng-show="isAuthenticated"><h3>Help For Logged In Users</h3></p>
			<p ng-show="isAdmin"><h3>Help For Administrators</h3></p>
		</div>
    </main>

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
